// HEADER :: START
section#section-top
header.header
  .container(data-aos='fade-down')
    .header__wrapper
      a(href="#section-top").header__logo
        img(src="img/logotype.svg", alt="")
      .header__buttons
        a.btn.btn--enter(href="#enter-popup" js-popup) войти
        a.btn.btn--connect(href="#connect-popup" js-popup) присоедениться
      .header__lang
        a.header__lang-item(href="#") RU
        a.header__lang-item.is-active(href="#") EN
      .hamburger.hamburger--spin(js-hamburger)
        .hamburger-box
          .hamburger-inner
// HEADER :: END
