// HEADER :: START
section#section-top
header.header
  .container(data-aos='fade-down')
    .header__wrapper
      a(href="#section-top").header__logo
        img(src="img/logotype.svg", alt="")
      .header__links
        .header__item
          .header__mail-image
            img(src="img/mail.svg", alt="")
          .header__mail-info
            p Почта
            a(href="mailto:admiral2325@gmail.com") admiral2325@gmail.com
        .header__item
          .header__mail-image
            img.swing(src="img/phone.svg", alt="")
          .header__mail-info
            p Телефон
            a(href="tel:+380679989523") 067 99 89 523
          
// HEADER :: END
