// BEGIN SECTION :: popups

// BEGIN POPUP :: thankpopup
.popup.mfp-with-anim.mfp-hide#thankpopup
  h2.popup__title Заявка отправлена
  .popup__info
    p В ближайшее время мы с вами свяжемся по указанным координатам.
// END POPUP :: thankpopup

// BEGIN POPUP :: enter-popup
.popup.mfp-with-anim.mfp-hide#enter-popup
  .container
    .header__wrapper.popup__head
      .header__buttons.header-enter
        a.btn.btn--enter(href="#" js-close-popup) войти
        a.btn.btn--connect(href="#") присоедениться
      .header__lang
        a.header__lang-item(href="#") RU
        a.header__lang-item.is-active(href="#") EN
  .popup-container#popup-area
    h2.popup__title - с возвращением! -
    a.popup__telegram(href="#")
      img(src="img/tg.svg", alt="")
      p Войти через
        span telegram
    form.popup__form.js-form2(action="#")
      .input-container
        input#c1(type="text" name="name" placeholder="Ваша почта")
        label(for="c1")
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio='xMidYMid', width='15', height='10', viewBox='0 0 15 10')
            path(d='M13.833,10.000 L1.167,10.000 C0.523,10.000 -0.000,9.473 -0.000,8.823 L-0.000,1.176 C-0.000,1.020 0.031,0.871 0.086,0.735 L6.887,7.531 C7.048,7.693 7.261,7.770 7.471,7.762 C7.708,7.796 7.956,7.722 8.138,7.538 L14.923,0.759 C14.972,0.889 15.000,1.029 15.000,1.176 L15.000,8.823 C15.000,9.473 14.477,10.000 13.833,10.000 ZM1.585,-0.000 L13.444,-0.000 L7.515,5.925 L1.585,-0.000 Z', fill-rule='evenodd', fill='#505660')

      .input-container
        input#c2(type="password" name="pass" placeholder="Введите пароль")
        label(for="c2")
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio='xMidYMid', width='11', height='13', viewBox='0 0 11 13')
            path(d='M10.397,13.000 L0.603,13.000 C0.270,13.000 -0.000,12.728 -0.000,12.392 L-0.000,4.890 C-0.000,4.555 0.270,4.282 0.603,4.282 L1.177,4.282 C1.225,1.909 3.149,-0.000 5.515,-0.000 C7.882,-0.000 9.805,1.909 9.853,4.282 L10.397,4.282 C10.730,4.282 11.000,4.555 11.000,4.890 L11.000,12.392 C11.000,12.728 10.730,13.000 10.397,13.000 ZM4.762,9.260 L4.762,10.524 C4.762,10.935 5.092,11.268 5.500,11.268 C5.908,11.268 6.238,10.935 6.238,10.524 L6.238,9.262 C6.926,9.230 7.474,8.659 7.474,7.958 C7.474,7.236 6.894,6.652 6.178,6.652 L4.852,6.652 C4.136,6.652 3.556,7.236 3.556,7.958 C3.556,8.648 4.088,9.214 4.762,9.260 ZM5.500,1.549 C3.953,1.549 2.687,2.754 2.572,4.282 L8.428,4.282 C8.313,2.754 7.047,1.549 5.500,1.549 Z', fill='505660', fill-rule='evenodd')
      .popup__row
        .popup__checkbox
          input#c3.checkbox(type='checkbox')
          label(for='c3') Запомнить меня
        a.popup__pass(href="#") Напомнить пароль
      .input-button
        input.popup__submit(type="submit" value="Войти")
        img(src="img/right-arrow1.svg", alt="")
      .popup__account
        p Нет аккаунта?
        a.popup__account-link(href="#connect-popup" js-popup) зарегистрируйтесь
// END POPUP :: enter-popup

// BEGIN POPUP :: connect-popup
.popup.mfp-with-anim.mfp-hide#connect-popup
  .container
    .header__wrapper.popup__head
      .header__buttons.header-connect
        a.btn.btn--enter(href="#") войти
        a.btn.btn--connect(href="#" js-close-popup) присоедениться
      .header__lang
        a.header__lang-item(href="#") RU
        a.header__lang-item.is-active(href="#") EN
  .popup-container#popup-area
    h2.popup__title - Регистрация - 
    a.popup__telegram(href="#")
      img(src="img/tg.svg", alt="")
      p зарегистрироваться через
        span telegram
    p.popup__or - или -
    form.popup__form.js-form(action="#")
      .input-container
        input#c11(type="text" name="name" placeholder="Ваша почта")
        label(for="c11")
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio='xMidYMid', width='15', height='10', viewBox='0 0 15 10')
            path(d='M13.833,10.000 L1.167,10.000 C0.523,10.000 -0.000,9.473 -0.000,8.823 L-0.000,1.176 C-0.000,1.020 0.031,0.871 0.086,0.735 L6.887,7.531 C7.048,7.693 7.261,7.770 7.471,7.762 C7.708,7.796 7.956,7.722 8.138,7.538 L14.923,0.759 C14.972,0.889 15.000,1.029 15.000,1.176 L15.000,8.823 C15.000,9.473 14.477,10.000 13.833,10.000 ZM1.585,-0.000 L13.444,-0.000 L7.515,5.925 L1.585,-0.000 Z', fill-rule='evenodd', fill='#505660')

      .input-container
        input#c12(type="password" name="pass" placeholder="Введите пароль")
        label(for="c12")
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio='xMidYMid', width='11', height='13', viewBox='0 0 11 13')
            path(d='M10.397,13.000 L0.603,13.000 C0.270,13.000 -0.000,12.728 -0.000,12.392 L-0.000,4.890 C-0.000,4.555 0.270,4.282 0.603,4.282 L1.177,4.282 C1.225,1.909 3.149,-0.000 5.515,-0.000 C7.882,-0.000 9.805,1.909 9.853,4.282 L10.397,4.282 C10.730,4.282 11.000,4.555 11.000,4.890 L11.000,12.392 C11.000,12.728 10.730,13.000 10.397,13.000 ZM4.762,9.260 L4.762,10.524 C4.762,10.935 5.092,11.268 5.500,11.268 C5.908,11.268 6.238,10.935 6.238,10.524 L6.238,9.262 C6.926,9.230 7.474,8.659 7.474,7.958 C7.474,7.236 6.894,6.652 6.178,6.652 L4.852,6.652 C4.136,6.652 3.556,7.236 3.556,7.958 C3.556,8.648 4.088,9.214 4.762,9.260 ZM5.500,1.549 C3.953,1.549 2.687,2.754 2.572,4.282 L8.428,4.282 C8.313,2.754 7.047,1.549 5.500,1.549 Z', fill='505660', fill-rule='evenodd')
      .popup__capthca
        img(src="img/capthca.gif", alt="")
      .input-button
        input.popup__submit(type="submit" value="зарегистрироваться")
        img(src="img/right-arrow1.svg", alt="")
      .popup__account
        p Уже есть аккаунт?
        a.popup__account-link(href="#enter-popup" js-popup) Войдите
// END POPUP :: connect-popup

// END SECTION :: popups