---
title: Admiral
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section
    .firstscreen
      .container
        h1(data-aos='fade-up') Откройте собственное
          br
          | «Бюро Переводов» 
          span Admiral
        .firstscreen__grid
          .firstscreen__item(data-aos='fade-up')
            p Инвестиции
            p.price От 400 $ до 1 500 $
          .firstscreen__item(data-aos='fade-up')
            p Роялти
            p.price Нет
          .firstscreen__item(data-aos='fade-up')
            p Площадь помещения
            p.price от 10 м²
          .firstscreen__item(data-aos='fade-up')
            p Вступительный взнос 
            p.price 600 $
          .firstscreen__item(data-aos='fade-up')
            p Рекламные отчисления
            p.price Нет
          .firstscreen__item(data-aos='fade-up')
            p Срок окупаемости
            p.price 3 месяца
        .firstscreen__button(data-aos='fade-up')
          a.firstscreen__btn(href="#") Получить подробную информацию
        .scroll-button(data-aos='fade-up')
          a(href="#section-about")
            .icon-scroll
  
  // END SECTION :: firstscreen

  // BEGIN SECTION :: about
  section#section-about
    .about
      .container
        .about__grid
          .about__left(data-aos='fade-up')
            .about__left-image
              img(src="img/map.svg", alt="")
            .about__left-info
              p.title Сеть
              p Собственных - 1, Франчайзинговых - 6
          .about__right
            h2(data-aos='fade-up') О Компании
            p(data-aos='fade-up') Официально Компания «АDMIRAL» была зарегистрирована в 2008г., сначала под брендом «Хмельницкое Бюро Переводов». Сегодня мы являемся лидером в своем регионе, зарегистрировали ТМ ADMIRAL, открыли франчайзинговые офисы в Киеве, Коростени, Измаиле, Ужгороде, Львове, Харькове.
              br
              | Наш сайт: 
              a(href="#") admiralbureau.com
            .about__right-grid(data-aos='fade-up')
              .about__right-item
                p.title Страна происхождения
                p Украина
              .about__right-item
                p.title Год основания компании
                p 2008
              .about__right-item
                p.title Регионы развития
                p Вся Украина
              .about__right-item
                p.title Год запуска франчайзинга
                p 2016
        
  // END SECTION :: about

  // BEGIN SECTION :: form
  section
    .f-form(data-aos='fade-up')
      .container
        p Введите ваши контакты и получите подробную информацию о франшизе
        form.js-f-form(action="#" method="post")
          .f-form__grid
            .input-container
              input(type="text" placeholder="Ваше имя" name="name")
            .input-container
              input(type="text" placeholder="Ваш Телефон" name="phone")
            .input-container
              input(type="text" placeholder="Электронная почта" name="mail")
            .input-container
              input.btn(type="submit", value="Отправить")

  // END SECTION :: form

  // BEGIN SECTION :: propose
  section
    .we-propose
      .container
        h2(data-aos='fade-up') Мы предлагаем
        .we-propose__grid
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon1.svg", alt="")
            p Перевести документы с любого и на любой язык
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon2.svg", alt="")
            p Заверить переводы нотариально или печатью бюро переводов
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon3.svg", alt="")
            p Детально проконсультировать по вопросам апостилирования и легализации документов
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon4.svg", alt="")
            p Оформить документы для обучения, работы и воссоединения семьи за рубежом

  // END SECTION :: propose

  // BEGIN SECTION :: clients
  section
    .clients
      .container
        .clients__grid
          .clients__left(data-aos='fade-up')
            .clients__left-image
              img(src="img/admiral.svg", alt="")
            p Что Вы сможете предложить своим клиентам
          .clients__right(data-aos='fade-up')
            .clients__right-info(data-simplebar)              
              p • Устные, письменные и он-лайн переводы;
              p • Легализация и апостиль документов;
              p • Нотариальное заверение;
              p • Заверение печатью Бюро переводов;
              p • Присяжный / аккредитованный перевод (Польша, Чехия, Франция, Италия и др.);
              p • Подготовка документов для подачи за границей (на обучение за рубежом, на воссоединение семьи, постоянное место жительства и др.);
              p • Помощь в получении справок о несудимости / регистрации места проживания и др.;
              p • Истребование повторных документов ЗАГС;
              p • Консультации и подготовка документов на получение гражданства;
              p • Заполнение анкет на визу (США, Канада, Великобритания, Австралия и др.);
              p • Подготовка документов для поступления в учебные заведения Польши, Германии, Франции и др.
              p • Регистрация на подачу документов, Грин Карт США;
              p • Услуги страхования;
              p • Юридические услуги;
              p • Подготовка к собеседованию, сдаче экзаменов в Гете-Институте, DELF / DALF (румынский, немецкий, французский и др.);
              p • Нострификация дипломов;
              p • Визовая поддержка, бронирование и продажа авиа, автобусных билетов за границу.

  // END SECTION :: clients

  // BEGIN SECTION :: interest
  section
    .interest
      .container
        .interest__grid
          .interest__left(data-aos='fade-up')
            .interest__left-image
              img(src="img/admiral.svg", alt="")
            p Кому это интересно
          .interest__right(data-aos='fade-up')            
            p Всем, кто хочет заниматься интеллектуальным бизнесом, из практики - это финансисты, экономисты, банкиры и т.д.
            p Иногда, туристические агентства, языковые школы, юридические компании, агентства по трудоустройству и т.д., как  дополнительный неплохой заработок.
            p Стартап для филологов иностранного языка, которые только начинают свою профессиональную деятельность.

  // END SECTION :: interest

  // BEGIN SECTION :: fran
  section
    .fran
      .container
        h2(data-aos='fade-up') Что получает франчайзи
        .fran__list
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Секреты открытия нового офиса
            .fran__number
              p.number 1
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Предоставление материалов  для фирменного оформления рекламной продукции, офиса
            .fran__number
              p.number 2
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Размещение информации о предприятиях-франчайзи на официальном сайте Компаниии продвижения его услуг
            .fran__number
              p.number 3
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Тактику проведения рекламной кампании
            .fran__number
              p.number 4
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Теоретические основы и практические навыки правильного оформления переводов
            .fran__number
              p.number 5
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Грамотное консультирование клиентов
            .fran__number
              p.number 6
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Полное сопровождение заказов
            .fran__number
              p.number 7
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Обучение персонала
            .fran__number
              p.number 8

  // END SECTION :: fran

  // BEGIN SECTION :: progress
  section
    .progress
      .container
        h2(data-aos='fade-up') Наши достижения
        .progress__grid
          .progress__item(data-aos='fade-up')
            p.progress__date 2012-2015
            .progress__point
            p.progress__info Бюро переводов Admiral получило Золото по Хмельницкой области и бронзу среди предприятий Украины в номинации “Показатели масштабов производства и платежеспособности” Национального бизнес-рейтинга Украины.
          .progress__item(data-aos='fade-up')
            p.progress__date 2016
            .progress__point
            p.progress__info Предприятие стало обладателем звания «Лидер отрасли 2016», подтвержденного высокими позициями в Национальном бизнес-рейтинге;
            p.progress__info Золото рейтинга по показателю «Рентабельность реализованной продукции (товаров, работ, услуг)»;
            p.progress__info Золото рейтинга по показателю «Рентабельность доходов».
          .progress__item(data-aos='fade-up')
            p.progress__date 2018
            .progress__point
            p.progress__info.progress__info--bold Вошли в ТОП-25 Бюро переводов Украины.

  // END SECTION :: progress

  // BEGIN SECTION :: faq

  section
    .faq
      .container
        h2(data-aos='fade-up') Часто задаемые вопросы
        .faq__container(data-aos='fade-up')
          .faq__item.is-open
            a.faq__button(href="#") Часто задаемый вопрос №1
              span
            .faq__info
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum necessitatibus non soluta illum voluptate cumque laboriosam consequatur, tempore ipsa hic excepturi natus totam quo sit libero, eos atque iure dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos maiores optio officia adipisci voluptates cumque molestiae, libero, magni possimus quas reiciendis, esse assumenda inventore odio voluptas atque obcaecati ad?
          .faq__item
            a.faq__button(href="#") Часто задаемый вопрос №2
              span
            .faq__info
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum necessitatibus non soluta illum voluptate cumque laboriosam consequatur, tempore ipsa hic excepturi natus totam quo sit libero, eos atque iure dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos maiores optio officia adipisci voluptates cumque molestiae, libero, magni possimus quas reiciendis, esse assumenda inventore odio voluptas atque obcaecati ad?
          .faq__item
            a.faq__button(href="#") Часто задаемый вопрос №3
              span
            .faq__info
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum necessitatibus non soluta illum voluptate cumque laboriosam consequatur, tempore ipsa hic excepturi natus totam quo sit libero, eos atque iure dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos maiores optio officia adipisci voluptates cumque molestiae, libero, magni possimus quas reiciendis, esse assumenda inventore odio voluptas atque obcaecati ad?
          .faq__item
            a.faq__button(href="#") Часто задаемый вопрос №4 Часто задаемый вопрос №4   Часто задаемый вопрос №4  Часто задаемый вопрос №4  Часто задаемый вопрос №4 
              span
            .faq__info
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum necessitatibus non soluta illum voluptate cumque laboriosam consequatur, tempore ipsa hic excepturi natus totam quo sit libero, eos atque iure dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos maiores optio officia adipisci voluptates cumque molestiae, libero, magni possimus quas reiciendis, esse assumenda inventore odio voluptas atque obcaecati ad?

  // END SECTION :: faq

  // END SECTION :: review

  section
    .review
      .container
        h2(data-aos='fade-up') Отзывы франчайзи
        .review__carousel(js-review-slider data-aos='fade-up')
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Львов
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Ужгород
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Коростень
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Измаил
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Киев

  // BEGIN SECTION :: b-form
  section
    .b-form
      .container
        form.js-f-form2(action="#" method="post")
          h2 Интересно?
          p Введите ваши контакты и получите подробную информацию о франшизе
          .b-form__form
            .input-container
              input(type="text" placeholder="Ваше имя" name="name")
            .input-container
              input(type="text" placeholder="Ваш Телефон" name="phone")
            .input-container
              input(type="text" placeholder="Электронная почта" name="mail")
            .input-container
              input.btn(type="submit", value="Отправить")

  // END SECTION :: b-form

  // BEGIN SECTION :: anketa
  section
    .anketa
      .container
        h2 Хотите быть нашим франчайзи ? Заполните анкету !
        form.form-anketa(action="#" method="post")
          .anketa__grid
            .input-container
              input(type="text" name="name" placeholder="Ваше имя")
            .input-container
              input(type="text" name="surname" placeholder="Ваша фамилия")
            .input-container
              input(type="text" name="phone" placeholder="Ваш телефон")
            .input-container
              input(type="text" name="mail" placeholder="Электронная почта")
            .input-container
              input(type="text" name="rodde" placeholder="Род деятельности")
            .input-container
              input(type="text" name="city" placeholder="Ваш город")
            .input-container
              input(type="text" name="exp" placeholder="Опыт предпринимательской деятельности")
            .input-container
              input(type="text" name="profe" placeholder="Профессиональные навыки")
            .input-container
              input(type="text" name="finance" placeholder="Финансовые возможности")
            .input-container
              input(type="text" name="wait" placeholder="Ожидания от приобритения франшизы")
            .input-container
              input.btn(type="submit" value="Отправить анкету")
          

            

  // END SECTION :: anketa