---
title: Admiral
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section
    .firstscreen
      .container
        h1(data-aos='fade-up') Откройте собственное
          br
          | Бюро Переводов
          span «Admiral»
        .firstscreen__grid
          .firstscreen__item(data-aos='fade-up')
            p Инвестиции
            p.price От 1 500 $
          .firstscreen__item(data-aos='fade-up')
            p Роялти
            p.price Нет
          .firstscreen__item(data-aos='fade-up')
            p Площадь помещения
            p.price От 10 м²
          .firstscreen__item(data-aos='fade-up')
            p Вступительный взнос 
            p.price От 600 $
          .firstscreen__item(data-aos='fade-up')
            p Рекламные отчисления
            p.price Нет
          .firstscreen__item(data-aos='fade-up')
            p Срок окупаемости
            p.price От 3-х месяцев
        .firstscreen__button(data-aos='fade-up')
          a.firstscreen__btn(href="#") Получить подробную информацию
        .scroll-button(data-aos='fade-up')
          a(href="#section-about")
            .icon-scroll
  
  // END SECTION :: firstscreen

  // BEGIN SECTION :: about
  section#section-about
    .about
      .container
        .about__grid
          .about__left(data-aos='fade-up')
            .about__left-image
              img(src="img/map.svg", alt="")
            .about__left-info
              p.title Сеть
              p Собственных - 1, Франчайзинговых - 5
          .about__right
            h2(data-aos='fade-up') О Компании
            p(data-aos='fade-up') Официально Компания «АDMIRAL» была зарегистрирована в 2008г., сначала под брендом «Хмельницкое Бюро Переводов». Сегодня мы являемся лидером в своем регионе, зарегистрировали ТМ ADMIRAL, открыли франчайзинговые офисы в Киеве, Коростени, Измаиле, Ужгороде, Львове.
              br
              | Наш сайт: 
              a(href="#") admiralbureau.com
            .about__right-grid(data-aos='fade-up')
              .about__right-item
                p.title Страна происхождения
                p Украина
              .about__right-item
                p.title Год основания компании
                p 2008
              .about__right-item
                p.title Регионы развития
                p Вся Украина
              .about__right-item
                p.title Год запуска франчайзинга
                p 2016
        
  // END SECTION :: about

  // BEGIN SECTION :: form
  section
    .f-form(data-aos='fade-up')
      .container
        p Введите ваши контакты и получите подробную информацию о франшизе
        form.js-f-form(action="#" method="post")
          .f-form__grid
            .input-container
              input(type="text" placeholder="Ваше имя" name="name")
            .input-container
              input(type="text" placeholder="Ваш Телефон" name="phone")
            .input-container
              input(type="text" placeholder="Электронная почта" name="mail")
            .input-container
              input.btn(type="submit", value="Отправить")

  // END SECTION :: form

  // BEGIN SECTION :: propose
  section
    .we-propose
      .container
        h2(data-aos='fade-up') Мы предлагаем
        .we-propose__grid
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon1.svg", alt="")
            p Перевод документов с/на иностранные языки
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon2.svg", alt="")
            p Заверение переводов: нотариальное или печатью бюро переводов
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon3.svg", alt="")
            p Проставление апостиля и легализация документов
          .we-propose__item(data-aos='fade-up')
            .we-propose__image
              .we-propose__image-container
                img(src="img/icon4.svg", alt="")
            p Оформление документов для обучения, работы и воссоединения семьи за рубежом

  // END SECTION :: propose

  // BEGIN SECTION :: clients
  section
    .clients
      .container
        .clients__grid
          .clients__left(data-aos='fade-up')
            .clients__left-image
              img(src="img/admiral.svg", alt="")
            p Что Вы сможете предложить своим клиентам
          .clients__right(data-aos='fade-up')
            .clients__right-info(data-simplebar)              
              p • Устные, письменные и он-лайн переводы;
              p • Легализация и апостиль документов;
              p • Нотариальное заверение;
              p • Заверение печатью Бюро переводов;
              p • Присяжный / аккредитованный перевод (Польша, Чехия, Франция, Италия и др.);
              p • Подготовка документов для подачи за границей (на обучение за рубежом, на воссоединение семьи, постоянное место жительства и др.);
              p • Помощь в получении справок о несудимости / регистрации места проживания и др.;
              p • Истребование повторных документов ЗАГС;
              p • Консультации и подготовка документов на получение гражданства;
              p • Заполнение анкет на визу (США, Канада, Великобритания, Австралия и др.);
              p • Подготовка документов для поступления в учебные заведения Польши, Германии, Франции и др.
              p • Регистрация на подачу документов, Грин Карт США;
              p • Услуги страхования;
              p • Юридические услуги;
              p • Подготовка к собеседованию, сдаче экзаменов в Гете-Институте, DELF / DALF (румынский, немецкий, французский и др.);
              p • Нострификация дипломов;
              p • Визовая поддержка, бронирование и продажа авиа, автобусных билетов за границу.

  // END SECTION :: clients

  // BEGIN SECTION :: interest
  section
    .interest
      .container
        .interest__grid
          .interest__left(data-aos='fade-up')
            .interest__left-image
              img(src="img/admiral.svg", alt="")
            p Кому это интересно
          .interest__right(data-aos='fade-up')            
            p Всем, кто хочет заниматься интеллектуальным бизнесом, из практики - это финансисты, экономисты, банкиры и т.д.
            p Иногда, туристические агентства, языковые школы, юридические компании, агентства по трудоустройству и т.д., как  дополнительный неплохой заработок.
            p Стартап для филологов иностранного языка, которые только начинают свою профессиональную деятельность.

  // END SECTION :: interest

  // BEGIN SECTION :: fran
  section
    .fran
      .container
        h2(data-aos='fade-up') Что получает франчайзи
        .fran__list
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Секреты открытия нового офиса
            .fran__number
              p.number 1
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Предоставление материалов  для фирменного оформления рекламной продукции, офиса
            .fran__number
              p.number 2
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Размещение информации о предприятиях-франчайзи на официальном сайте Компаниии и продвижение услуг
            .fran__number
              p.number 3
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Тактику проведения рекламной кампании
            .fran__number
              p.number 4
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Теоретические основы и практические навыки правильного оформления переводов
            .fran__number
              p.number 5
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Грамотное консультирование клиентов
            .fran__number
              p.number 6
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--left(data-aos='fade-left')
            .fran__overlay
            p.info Полное сопровождение заказов
            .fran__number
              p.number 7
          .fran__line(data-aos='fade-up')
          .fran__item.fran__item--right(data-aos='fade-left')
            .fran__overlay
            p.info Обучение персонала
            .fran__number
              p.number 8

  // END SECTION :: fran

  // BEGIN SECTION :: progress
  section
    .progress
      .container
        h2(data-aos='fade-up') Наши достижения
        .progress__grid
          .progress__item(data-aos='fade-up')
            p.progress__date 2012-2015
            .progress__point
            p.progress__info Бюро переводов Admiral получило Золото по Хмельницкой области и бронзу среди предприятий Украины в номинации “Показатели масштабов производства и платежеспособности” Национального бизнес-рейтинга Украины.
          .progress__item(data-aos='fade-up')
            p.progress__date 2016
            .progress__point
            p.progress__info Предприятие стало обладателем звания «Лидер отрасли 2016», подтвержденного высокими позициями в Национальном бизнес-рейтинге;
            p.progress__info Золото рейтинга по показателю «Рентабельность реализованной продукции (товаров, работ, услуг)»;
            p.progress__info Золото рейтинга по показателю «Рентабельность доходов».
          .progress__item(data-aos='fade-up')
            p.progress__date 2018
            .progress__point
            p.progress__info.progress__info--bold Вошли в ТОП-25 Бюро переводов Украины.
            p.progress__info.progress__info--bold Создали и запустили маркет-плейс для переводов ezlines

  // END SECTION :: progress

  // BEGIN SECTION :: faq

  section
    .faq
      .container
        h2(data-aos='fade-up') Часто задаемые вопросы
        .faq__container(data-aos='fade-up')
          .faq__item.is-open
            a.faq__button(href="#") Нужно ли, кроме стоимости франшизы, выплачивать еще какие-то отчисления (роялти) ?
              span
            .faq__info
              p Нет, никакие дополнительные отчисления (роялти) не выплачиваются.
          .faq__item
            a.faq__button(href="#") Чем объясняется невысокая стоимость франшизы ?
              span
            .faq__info
              p По модели франшизы под стоимостью франшизы мы подразумеваем вступительный (паушальный) взнос, а далее мы совместно ведем бизнес деятельность и вместе зарабатываем. Стоимость франшизы увеличивается по мере уменьшения количества территорий, где можно открыть офис.
          .faq__item
            a.faq__button(href="#") Обязательно ли знать иностранный язык и надо ли иметь филологическое образование ?
              span
            .faq__info
              p Не обязательно. Те франчайзи, которые уже открыли офисы, имеют финансовое и экономическое образование.
          .faq__item
            a.faq__button(href="#") Можно ли открыть офис в регионе, где уже есть офис-франчайзи Адмирал ? 
              span
            .faq__info
              p Согласно контракту, мы не имеем права продавать несколько франшиз на один регион (географические ограничения по региону прописываются в контракте); отступления могут иметь место только в случае расторжения контракта с франчайзи в определенном регионе.
          .faq__item
            a.faq__button(href="#") Можно ли открыть несколько офисов в своем регионе и надо ли за это платить ?
              span
            .faq__info
              p Можно, если иное не предусмотрено контрактом; дополнительно ничего платить не надо.
          .faq__item
            a.faq__button(href="#") Если у меня есть основная работа, стоит ли открывать офис, чтобы попробовать «как пойдет» ?
              span
            .faq__info
              p Мы не сторонники такого варианта. Лучше хорошо подумать и рассчитать свои силы, так как на первом этапе требуется много временных и физических затрат.
          .faq__item
            a.faq__button(href="#") Сколько необходимо времени для обучения ? 
              span
            .faq__info
              p Все зависит от конкретной ситуации. При наличии опыта в бизнесе и опыта общения с клиентами обычно требуется меньше времени. Как правило, перед началом работы франчайзи стажируются в нашем офисе 1-3 дня. Остальное обучение (консультирование) продолжается в телефонном режиме.
          .faq__item
            a.faq__button(href="#") Как часто я могу консультироваться с менеджером головного офиса ? 
              span
            .faq__info
              p В этом нет ограничений, сколько у вас есть в этом необходимость. Мы заинтересованы в вашей компетентности и высоком качестве услуги, предоставляемой клиенту. 
          .faq__item
            a.faq__button(href="#") Если в головной офис позвонит клиент из моего региона, Вы его забираете себе ?
              span
            .faq__info
              p Нет, мы его можем проконсультировать, но отправим его к Вам в офис. Мы не заинтересованы в привлечении клиентов из Вашего региона, мы заинтересованы в увеличении количества заказов от вас. Клиенты могут приходить и уходить, а, подписывая контракт с франчайзи, мы рассчитываем на долгосрочное сотрудничество.
          .faq__item
            a.faq__button(href="#") Нужно ли мне сразу нанимать сотрудника, или лучше на первом этапе самому вникнуть ?
              span
            .faq__info
              p Для того, чтобы контролировать работу офиса, знать нюансы предлагаемых услуг, а также ориентироваться в финансовой составляющей, вначале лучше самому вникнуть; как правило, сотрудников нанимают уже минимум через полгода работы.

  // END SECTION :: faq

  // END SECTION :: review

  section
    .review
      .container
        h2(data-aos='fade-up') Отзывы франчайзи
        .review__carousel(js-review-slider data-aos='fade-up')
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Львов
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Ужгород
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Коростень
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Измаил
          .review__item
            .review__item-image
              a.no-barba(href="img/review.jpg" js-open-photo data-effect="mfp-zoom-in")
                img(src="img/review.jpg", alt="")
            p г.Киев

  // BEGIN SECTION :: b-form
  section
    .b-form
      .container
        form.js-f-form2(action="#" method="post")
          h2 Интересно?
          p Введите ваши контакты и получите подробную информацию о франшизе
          .b-form__form
            .input-container
              input(type="text" placeholder="Ваше имя" name="name")
            .input-container
              input(type="text" placeholder="Ваш Телефон" name="phone")
            .input-container
              input(type="text" placeholder="Электронная почта" name="mail")
            .input-container
              input.btn(type="submit", value="Отправить")

  // END SECTION :: b-form

  // BEGIN SECTION :: anketa
  section
    .anketa
      .container
        h2 Хотите быть нашим франчайзи ? Заполните анкету !
        form.form-anketa(action="#" method="post")
          .anketa__grid
            .input-container.input-container--full-width
              input(type="text" name="name" placeholder="ФИО потенциального покупателя франшизы, возраст")
            .input-container.input-container--full-width
              input(type="text" placeholder="ФИО руководителя офиса, возраст (если отличается от п.1)")
            .input-container
              input(type="text" name="city" placeholder="Ваш город")
            .input-container
              input(type="text" name="phone" placeholder="Ваш телефон")
            .input-container.input-container--full-width
              input(type="text" name="lastwork" placeholder="Предыдущее/настоящее место работы с указанием сроков")
            .input-container.input-container--full-width
              input(type="text" name="study" placeholder="Образование, учебное заведение и специальность")
            .input-container
              input(type="text" name="family" placeholder="Семейное положение")
            .input-container
              input(type="text" name="forwhatbuy" placeholder="Цель покупки франшизы")
            .input-container.input-container--full-width
              input(type="text" name="wait" placeholder="Ваши ожидания от сотрудничества по франшизе")
            .input-container.input-container--full-width
              input(type="text" name="choose" placeholder="Почему Вы выбрали именно франшизу бюро переводов ?")
            .input-container.input-container--full-width
              input(type="text" name="haveb" placeholder="Есть ли в вашем городе бюро переводов ? Пользовались ли Вы их услугами ?")
            .input-container
              input(type="text" name="howknow" placeholder="Как вы про нас узнали?")
            .input-container
              input(type="text" name="mail" placeholder="Ваш email")
            .input-container
              input.btn(type="submit" value="Отправить анкету")
          

            

  // END SECTION :: anketa